<!DOCTYPE html>
<html>
<head>
  <title>Dictionary</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href='/styles.css' rel='stylesheet' type='text/all'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <%= yield %>
    </div>
  </div>
</body>
</html>
